<h1>Task List</h1>
<table>
  <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Change Status</th>
      <th>Completed At</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>

      <td>
        <%= link_to(task[:title], task_path(task[:id])) %>
      </td>

      <td>
        <%= task[:description] %>
      </td>

      <td class="edit">
        <%= button_to "Edit", { action: 'edit', id: task.id }, method: :get %>
      </td>

      <td>
        <%= button_to "Delete Task", { action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?" } %>
      </td>

      <td>
        <% if task[:completed_at] == nil %>
          <%= button_to "Mark Complete", task_path(task[:id]), {params: {task: {complete: 'true'}}, method: :put} %>

        <% else %>
          <%= button_to "Mark Incomplete", { action: task_path(task[:id]), complete: 'false' }, method: :put %>
        <% end %>
      </td>

      <td>
        <% if task[:completed_at] != nil %>
          <%= "Completed on #{task[:completed_at].strftime("%A, %B %d")}" %>
        <% end %>
      </td>

    </tr>
  <% end %>
</table>


<%= link_to("Add a new task", new_task_path) %>
